# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth
'atom-workspace':
  'alt-cmd-l': 'litdoc:toggle'

'div.litdoc':
  'cmd-c': 'native!'
  'cmd-v': 'native!'
  'cmd-z': 'native!'

#'atom-text-editor.litdoc':
#  'cmd-c': 'unset!'
#  'cmd-v': 'unset!'
#  'cmd-z': 'unset!'

# .litdoc
# Line 18: Disable copy-paste and undo hotkeys, since they are not yet handled properly
